body {
  margin: 0;
  padding: 0;
}

/* Background settings for header */
header {
  font-family: 'BioRhyme';
  color: black;
  position: fixed;
  background-color: whitesmoke;
  border-radius: 0 0 30px 30px;
  border: solid black 2px;
  box-shadow: 0px 3px 5px black;
  top: 0;
  z-index: 2;
  align-items: center;
  padding-bottom: 3vh;
  opacity: .9;
}

/* Header contents */
#name {
  font-size: 6vh;
  font-weight:900;
  margin: -1vh 1vh 1.5vh;
}

#title {
  text-align: center;
  font-size: 3vh;
  font-weight:900;
  margin: -3vh auto 2vh;
}

.socials {
  display: flex;
  margin-left: 14%;
}

.socials img:hover {
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.7);
}

.soc {
  margin: 1% 12%;
}

/* Images in "socials" section */
#linkedin {
  width: 4vh;
  margin-bottom: 1.25vh;
  border-radius: 20%;
}

#home {
  width: 5vh;
  margin-bottom: .75vh;
  border-radius: 20%;
}

#github {
  width: 4vh;
  margin-bottom: 1.25vh;
  border-radius: 20%;
}

/* Background image */
  .river {
    height: 100vh;
    z-index: 0;
  }
  
  /* Background settings */
  .contact {
    height: 100vh;
    background-color: #53864b;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }

  /* Default settings for images in "Contact" section */
  .contact img {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  /* Form title */
  #sayHi {
    color: whitesmoke;
    filter: drop-shadow(0 1px 3px black);
    font-size: xx-large;
    margin: 1.5vh;
  }  

  /* Form settings */
  .form-submit {
    width: 50%;
    z-index: 1;
    margin-top: 20vh;
    filter: drop-shadow(0px 3px 5px black);
    opacity: .9;
  }
  
  .form-submit .form-row {
    display: flex;
    justify-content: space-between;
    
  }
  
  .form-row .form-control {
    width: 50%;
    font-size: 20px;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    padding: 20px 5px;
    border: 2px black solid;
    border-radius: 10px;
  }
  
  .form-row .form-control:focus,
  .form-submit textarea:focus {
    outline: 0;
    padding-left: 10px;
    background-color: antiquewhite;
  }
  
  .form-submit textarea {
    font-family: 'Arial', sans-serif;
    width: 100%;
    padding: 0;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    padding: 20px 5px;
    border: 2px black solid;
    border-radius: 10px;
  }
  
  form button {
    width: 100%;
    background-color: rgb(79,177,79);
    color: whitesmoke;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    font-size: 20px;
    border: 2px black solid;
    border-radius: 10px;
  }
  
  /* Mobile settings */
  @media only screen and (max-width: 600px) {
    .form-submit {
        width: 80%;
    }
  
    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }
  
    .form-row .form-control {
        width: 100%;
        margin-top: 5px;
    }
  }
  
