@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC:wght@700&family=Architects+Daughter&family=Merienda:wght@700&family=Russo+One&family=Staatliches&display=swap');

body {
  margin: 0;
  padding: 0;
}

.sky {
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient( #80bfd8, #f3b55f);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.sky img {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

#mountains {
  height: 60%;
  filter:drop-shadow(3px 3px 5px black);
}

#sun {
  width: 30%;
  bottom: 0%;
  left: 28%;
  z-index:  1;
}

#cloud-one {
  width: 20%;
  bottom: 30%;
  left: 75%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-two {
  width: 25%;
  bottom: 60%;
  left: 75%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-three {
  width: 10%;
  bottom: 35%;
  left: 0%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-four {
  width: 24%;
  bottom: 40%;
  left: 15%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-five {
  width: 23%;
  bottom: 40%;
  left: 45%;
  opacity: 60%;
  z-index: 1;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-six {
  width: 15%;
  bottom: 55%;
  left: 14%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#moon {
  width: 5%;
  bottom: 92%;
  left: 0%;
  opacity: 80%;
}

#stars {
  width: 15%;
  bottom: 80%;
  left: 0%;
}

#stars-two {
  width: 15%;
  bottom: 80%;
  left: 90%;
}

#birds {
  width: 25vh;
  bottom: 10%;
  left: 10%;
}

#moose {
  width: 7vh;
  bottom: 10%;
  left: 2%;
  filter:drop-shadow(1px 1px 2px black);
}

#elephant {
  width: 8vh;
  bottom: 30%;
  left: -20%;
}

#rocket {
  width: 6vh;
  bottom: 20%;
  left: 80%;
  z-index: 1;
  filter:drop-shadow(1px 1px 2px black);
}

#airplane {
  width: 7vh;
  bottom: 70%;
  left: -20%;
  filter:drop-shadow(1px 1px 2px black);
}

#pg {
  width: 3vh;
  bottom: 45%;
  left: 70%;
  z-index: 1;
  filter:drop-shadow(1px 1px 2px black);
}

#github {
  width: 6vh;
  filter:drop-shadow(3px 3px 5px black);

}

.soc {
  padding-right: 1vh;
}

#linkedin {
  width: 6vh;
  filter:drop-shadow(3px 3px 5px black);
}

#mail {
  width: 7vh;
  filter:drop-shadow(3px 3px 5px black);
}

#html {
  width: 8vh;
  bottom: 5%;
  left: 10%;
  filter:drop-shadow(3px 3px 5px black);
}

#css {
  width: 12vh;
  bottom: 3%;
  left: 19%;
  filter:drop-shadow(3px 3px 5px black);
}

#javascript {
  width: 8vh;
  bottom: 5%;
  left: 31%;
  filter:drop-shadow(3px 3px 5px black);
}

#react {
  width: 8vh;
  bottom: 5%;
  left: 42%;
  filter:drop-shadow(3px 3px 5px black);
}

#node {
  width: 8vh;
  bottom: 5%;
  left: 53%;
  filter:drop-shadow(3px 3px 5px black);
}

#postgresql {
  width: 8vh;
  bottom: 5%;
  left: 64%;
  filter:drop-shadow(3px 3px 5px black);
}

#python {
  width: 8vh;
  bottom: 5%;
  left: 75%;
  filter:drop-shadow(3px 3px 5px black);
}

#git {
  width: 8vh;
  bottom: 5%;
  left: 86%;
  filter:drop-shadow(3px 3px 5px black);
}

.about-me {
  height: 100vh;
  background-image: linear-gradient(#327e26,#f8f8f8);
  overflow-x: hidden;
}

.info {
  width: 90%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 5%;
  border: solid black 2px;
  border-radius: 20px;
  background-color:antiquewhite;
  box-shadow: 3px 3px 5px black, 5px 5px 7px green;
  display:inline-flex;
}

.info img {
  height: 10vw;
  border-radius: 15px;
  margin: 1vw;
  border: solid black 2px;
}

.tech {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 4vh;
  border: solid black 2px;
  border-radius: 20px;
  background-color:antiquewhite;
  box-shadow: 3px 3px 5px black, 5px 5px 7px green;
  display:inline-flex;
}

.logo {
  margin: 1vw;
}

#name {
  font-size: 7vh;
  font-weight:900;
  text-shadow: 3px 3px 4px black;
  margin: 2vh;
}

#subtitle {
  text-align: center;
  font-size: 3vh;
  font-weight:900;
  margin: 0vh auto 0vh;
  text-shadow: 3px 3px 5px black;
  padding-top: 1vh;
}

.subtitles {
  text-align: left;
  margin-left: 1vw;
  font-size: 3vh;
  font-weight:900;
  text-shadow: 1px 1px 1px black;
  font-family:'Arial';
}

header {
  font-family: 'Arial', cursive;
  color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  align-items: center;
  padding-top: 1vh;
}

.socials {
  font-family: 'Arial';
  padding-left: 32vw;
  padding-top: 22vh;

}

.socials a {
  color: white;
  padding: 1.5vw;
  font-size: 2.5vh;
}

.text {
  font-size: 2.5vh;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
}

a:hover {
  color: black;
  font-size: 3vh;
}

/* Scroll Down Indicator */
.section {
  position: relative;
  z-index: 2;
}
.section::before {
  animation: bounce 1s ease infinite;
  bottom: 10vh;
  color: #fff;
  content: '╲╱';
  font-size: 5vh;
  font-weight:950;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  filter:drop-shadow(5px 5px 6px black);
  position: absolute;
  text-align: center;
  width: 6rem;
}
@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

