body {
  margin: 0;
  padding: 0;
}

/* Header background settings */
header {
  font-family: 'BioRhyme';
  color: black;
  position: fixed;
  background-color: whitesmoke;
  border-radius: 0 0 30px 30px;
  border: solid black 2px;
  box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.7);
  top: 0;
  z-index: 3;
  padding-bottom: 3vh;
  opacity: .9;
}

#name {
  font-size: 6vh;
  font-weight:900;
  margin: -1vh 1vh 1.5vh;
}

#title {
  text-align: center;
  font-size: 3vh;
  font-weight:900;
  margin: -3vh auto 2vh;
}

.socials {
  display: flex;
  margin-left: 15%;
}

.socials img:hover {
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.7);
}

.soc {
  margin: 1% 12%;
}

/* Indvidual images in "Socials" section */
#github {
  width: 4vh;
  margin-bottom: 1.25vh;
  border-radius: 20%;

}

#linkedin {
  width: 4vh;
  margin-bottom: 1.25vh;
  border-radius: 20%;

}

#mail {
  width: 5vh;
  margin-bottom: .75vh;
  border-radius: 20%;
}

/* Background settings for the animated section of the website  */
.sky {
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient( #80bfd8, #f3b55f, #53864b, #35adf3);
  width: 100%;
  height: 220vh;
  display: flex;
  justify-content: center;
}

/* Default settings for images in animated section */
.sky img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

/* Container for "About Me" section */
.info {
  width: 50%;
  margin: 156vh 25vh 10vh;
  border: solid black 2px;
  border-radius: 30px;
  background-color:whitesmoke;
  box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.7);
  display:inline-table;
  z-index: 2;
}

/* Head shot image in "About me" section */
#hs {
  width: 38vh;
  border-radius: 15px;
  bottom: 4.7%;
  left: 39%;
}

/* Headings in "About Me" and "Projects" sections */
.subtitles {
  text-align: center;
  font-size: 3.5vh;
  font-weight:900;
  margin-bottom: 1vh;
  text-shadow: 1px 1px 1px black;
  font-family: 'BioRhyme';
}

/* Text in "About Me" and "Projects" sections */
.text {
  font-size: 2.5vh;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 0vh;
  min-width: 45%;
  text-align: center;
}

/* Background Setting for "Projects" section. No animation */
.projects {
  height: 110vh;
  background-image: linear-gradient(#35adf3,#f8f8f8);
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

/* Default setting for images in "Projects" section */
.projects img {
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  /* z-index: 2; */
}

/* Background Image at bottom of site. No animation. */
#beach{
  height: 110vh;
  filter:drop-shadow(3px 3px 5px black);
}

/* Card for displaying each project */
.tech {
  width: 90%;
  margin: 38vh 2vh 4vh;
  border: solid black 2px;
  border-radius: 20px;
  background-color:whitesmoke;
  box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.7);
  display:table-column;
  z-index: 2;
}

/* Project link */
.tech a {
  font-size: 4vh;
  color: black;
}

.tech a:hover {
  filter:drop-shadow(0px 1px 3px black);
}

/* Project Images */
#wh {
  width: 12vh;
  bottom: 9%;
  left: 9%;
}

#oel {
  width: 13vh;
  bottom: 9%;
  left: 34%;
}

#todo {
  width: 10vh;
  bottom: 9%;
  left: 60%;
}

/* #camera {
  width: 11vh;
  bottom: 9%;
  left: 85%;
} */

#film {
  width: 12vh;
  bottom: 9%;
  left: 84%;
}

/****************** Individual settings for each image in animated section *******************/
#mountains {
  height: 40%;
  filter:drop-shadow(3px -4px 5px black);
  bottom: 40%;
}

#sun {
  width: 30%;
  bottom: 45%;
  left: 28%;
  z-index:  1;
}

#sunTwo {
  width: 20%;
  bottom: 0%;
  left: 85%;
  z-index:  1;
}

#cloud-one {
  width: 20%;
  bottom: 64%;
  left: 75%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-two {
  width: 25%;
  bottom: 80%;
  left: 75%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-three {
  width: 10%;
  bottom: 65%;
  left: 0%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-four {
  width: 24%;
  bottom: 80%;
  left: 6%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-five {
  width: 23%;
  bottom: 70%;
  left: 45%;
  opacity: 60%;
  z-index: 1;
  filter:drop-shadow(2px 2px 3px black);
}

#cloud-six {
  width: 15%;
  bottom: 85%;
  left: 2%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloudSeven {
  width: 12%;
  bottom: 0%;
  left: -20%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloudEight {
  width: 9%;
  bottom: 0%;
  left: 120%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#cloudNine {
  width: 8%;
  bottom: 0%;
  left: -20%;
  opacity: 60%;
  filter:drop-shadow(2px 2px 3px black);
}

#moon {
  width: 5%;
  bottom: 96%;
  left: 0%;
  opacity: 80%;
}

#stars {
  width: 14%;
  bottom: 90%;
  left: -2%;
}

#stars-two {
  width: 15%;
  bottom: 90%;
  left: 90%;
}

/* Animal, Vehicle images */
#birds {
  width: 28vh;
  bottom: 40%;
  left: -20%;
}

#moose {
  width: 9vh;
  bottom: 42%;
  left: 14%;
  filter:drop-shadow(1px 1px 2px black);
}

#bicycle {
  width: 6vh;
  bottom: 24%;
  left: -20%;
}

#rocket {
  width: 6vh;
  bottom: 20%;
  left: 80%;
  z-index: 1;
  filter:drop-shadow(1px 1px 2px black);
}

#pg {
  width: 3vh;
  bottom: 75%;
  left: 71%;
  z-index: 1;
  filter:drop-shadow(1px 1px 2px black);
}

#airplane {
  width: 7vh;
  bottom: 80%;
  left: -20%;
  filter:drop-shadow(1px 1px 2px black);
}

#airBalloon {
  width: 5vh;
  bottom: 0%;
  left: 10%;
  filter:drop-shadow(3px 3px 5px black);
}

#parrot {
  width: 5vh;
  bottom: 0%;
  left: -20%;
  z-index: 1;
  filter:drop-shadow(1px 1px 2px black);
}

/* Tech Logos */
#html {
  width: 8vh;
  bottom: 57%;
  left: 10%;
  filter:drop-shadow(3px 3px 5px black);
}

#css {
  width: 12vh;
  bottom: 56%;
  left: 19%;
  filter:drop-shadow(3px 3px 5px black);
}

#javascript {
  width: 8vh;
  bottom: 57%;
  left: 31%;
  filter:drop-shadow(3px 3px 5px black);
}

#react {
  width: 8vh;
  bottom: 57%;
  left: 42%;
  filter:drop-shadow(3px 3px 5px black);
}

#node {
  width: 8vh;
  bottom: 57%;
  left: 53%;
  filter:drop-shadow(3px 3px 5px black);
}

#postgresql {
  width: 8vh;
  bottom: 57%;
  left: 64%;
  filter:drop-shadow(3px 3px 5px black);
}

#python {
  width: 8vh;
  bottom: 57%;
  left: 75%;
  filter:drop-shadow(3px 3px 5px black);
}

#git {
  width: 8vh;
  bottom: 57%;
  left: 86%;
  filter:drop-shadow(3px 3px 5px black);
}

/* #lake {
  height: 115vh;
  filter:drop-shadow(3px 3px 5px black);
}

#fishing {
  width: 14vh;
  bottom: 40%;
  left: 90%;
  filter:drop-shadow(3px 3px 5px black);
  z-index: 3;
} */

/* Scroll Down Arrow */
.section {
  position: relative;
  z-index: 2;
  left: 35%;
}
.section::before {
  animation: bounce 1s ease infinite;
  bottom: 132vh;
  color: #fff;
  content: '╲╱';
  font-size: 4vh;
  font-weight:950;
  height: 4rem;
  letter-spacing: -1px;
  line-height: 4rem;
  filter:drop-shadow(5px 5px 6px black);
  position: absolute;
  text-align: center;
  width: 6rem;
}
@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

