.contact-background {
    /* background-image:linear-gradient( #f05aac, #e96d60, #ed7b11, #e9ba42, rgb(255, 238, 169)); */
    background-image:linear-gradient( #f24ba7, #eb8047, #f24b4b, #ed7b11, #e9ba42, rgb(255, 238, 169));
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.contact-container {
    position: absolute;
    margin: 30vh auto 30vh;
    width: 75vh;
    max-width: 90%;
}

/* Images */
.sun3, .hill, .hill2, .island, .island2, .mtn, .mtn2, .turtle, .shark, .hut, .hammock, .ship {
    position: absolute;
}

.sun3 {
    border-radius:50%;
    height:175px;
    width:175px;
    margin: 0;
    margin-top: 68vh;
    background:orange;
    box-shadow: 0 0 10px rgb(255, 145, 0),
                0 0 60px orange,
                0 0 150px yellow,
                inset 0 0 80px yellow;
    z-index:12;
    align:center;
    z-index:0;
}

.hill {
    height: 30vh;
    width: 48vw;
    background-color: rgb(255, 238, 169);
    border-radius: 0% 80% 0 0;
    margin-top: 71vh;
    z-index: 1;
    left: 0%;
}

.hill2 {
    height: 30vh;
    width: 49vw;
    background-color: rgb(255, 238, 169);
    border-radius: 80% 0% 0% 0;
    margin-top: 71vh;
    z-index: 1;
    left: 51%;
}

.island {
    height: 18vh;
    width: 40vw;
    margin-top: 61vh;
    z-index: 2;
    left: -12%;
}

.island2 {
    height: 16vh;
    width: 32vw;
    margin-top: 62vh;
    z-index: 2;
    left: 72%;
}

.mtn {
    height: 75vh;
    width: 44vw;
    left: -27%;
    bottom: 14vh;
    z-index: 0;
}

.mtn2 {
    height: 75vh;
    width: 56vw;
    left: 78%;
    bottom: 14vh;
    z-index: 0;
}

.turtle {
    width: 3%;
    left: 31%;
    bottom: 20vh;
    z-index: 1;
}

.shark {
    width: 20%;
    left: 80%;
    bottom: -2vh;
    z-index: 1;
}

.hammock {
    width: 5%;
    left: 69%;
    bottom: 24.5vh;
    z-index: 2;
}

.hut {
  width: 7%;
  left: 22.5%;
  bottom: 25vh;
  z-index: 2;
}

.ship {
  width: 11%;
  left: 12%;
  bottom: 1vh;
  z-index: 2;
}

.mtn, .mtn2, .hut, .island, .island2, .ship, .turtle, .hut, .hammock, .shark {
  animation: fade 5s;
  -webkit-animation: fade 5s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
}
@keyframes fade {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fade {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fade {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fade {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  .hill, .hill2, .mtn, .mtn2, .island, .island2, .turtle, .hut, .hammock, .turtle, .shark, .ship {
    display: none;
  }
  .contactBackground {
    min-height: 100vh;
  }
  /* .chips {
   overflow-x: scroll;
  } */
}
