body {
  margin: 0;
  padding: 0;
}

/* Background settings for the animated section of the website  */
.sky {
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient(#80bfd8, #f3b55f, #35722c, #35adf3);
  width: 100%;
  height: 250vh;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

/* Default settings for images in animated section */
.sky img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

/****************** Individual settings for each image in animated section *******************/
.mountains {
  height: 98vh;
  width: 140vw;
  filter: drop-shadow(3px -4px 6px rgba(0, 0, 0, 0.4));
  margin-bottom: 112vh;
  border-bottom: rgb(0, 128, 0, 0.3) solid 15px;
}

.username {
  margin: 32vh auto 4vh;
  font-size: 10vh;
  background: linear-gradient(to right, #0c82dc, #df7e00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'BioRhyme';
  position: absolute;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

.sun {
  width: 30%;
  margin-bottom: 132vh;
  left: 28%;
}

.sunTwo {
  width: 20%;
  margin-bottom: 0vh;
  left: 85%;
  z-index: 1;
}

.cloud1 {
  width: 15%;
  margin-bottom: 180vh;
  left: 85%;
  opacity: 40%;
}

.cloud2 {
  width: 21%;
  margin-bottom: 218vh;
  left: 75%;
  opacity: 40%;
}

.cloud3 {
  width: 10%;
  margin-bottom: 195vh;
  left: 0%;
  opacity: 40%;
}

.cloud4 {
  width: 20%;
  margin-bottom: 220vh;
  left: 10%;
  opacity: 40%;
}

.cloud5 {
  width: 15%;
  margin-bottom: 185vh;
  left: 47%;
  opacity: 40%;
  z-index: 1;
}

.cloud6 {
  width: 15%;
  margin-bottom: 225vh;
  left: 2%;
  opacity: 40%;
  z-index: 0;
}

.cloud7 {
  width: 16%;
  margin-bottom: 10vh;
  left: -35%;
  opacity: 40%;
  z-index: 0;
}

.cloud8 {
  width: 13%;
  margin-bottom: 10vh;
  left: 10%;
  opacity: 40%;
  z-index: 0;
}

.cloud9 {
  width: 10%;
  margin-bottom: 30vh;
  left: -30%;
  opacity: 40%;
}

.crescent {
  width: 5%;
  margin-bottom: 240vh;
  left: 0%;
  opacity: 80%;
}

.stars {
  width: 14%;
  margin-bottom: 230vh;
  left: -4%;
}

.starsTwo {
  width: 15%;
  margin-bottom: 230vh;
  left: 90%;
}

/* Animal, Vehicle images */
.birds {
  width: 34vh;
  margin-bottom: 75%;
  left: -20%;
}

.moose {
  width: 10vh;
  margin-bottom: 127vh;
  left: 20%;
}

.bicycle {
  width: 8vh;
  margin-bottom: 126vh;
  left: -20%;
}

.rocket {
  width: 10vh;
  margin-bottom: 95%;
  left: 85%;
}

.pg {
  width: 4vh;
  margin-bottom: 200vh;
  left: 76%;
}

.pg2 {
  width: 8vh;
  margin-bottom: 40vh;
  left: 240%;
}

.airplane {
  width: 12vh;
  margin-bottom: 40%;
  left: -140%;
}

.airBalloon {
  width: 8vh;
  margin-bottom: 0%;
  left: 10%;
  z-index: 0;
}

.parrot {
  width: 9vh;
  margin-bottom: 0%;
  left: -60%;
  z-index: 1;
}

/* Tech Logos */
.html {
  width: 7vh;
  margin-bottom: 154vh;
  left: 10%;
}

.css {
  width: 10.5vh;
  margin-bottom: 153vh;
  left: 19%;
}

.javascript {
  width: 7vh;
  margin-bottom: 155vh;
  left: 31%;
}

.typescript {
  width: 7vh;
  margin-bottom: 155vh;
  left: 42%;
}

.node {
  width: 8vh;
  margin-bottom: 167vh;
  left: 58.5%;
}

.postgresql {
  width: 7vh;
  margin-bottom: 168vh;
  left: 80%;
}

.python {
  width: 9vh;
  margin-bottom: 154vh;
  left: 64%;
}

.git {
  width: 7vh;
  margin-bottom: 155vh;
  left: 86%;
}

.mui {
  width: 8vh;
  margin-bottom: 168vh;
  left: 14%;
}

.java {
  width: 16vh;
  margin-bottom: 152vh;
  left: 51%;
}

.react {
  width: 7vh;
  margin-bottom: 168vh;
  left: 36.5%;
}

.redux {
  width: 7vh;
  margin-bottom: 168vh;
  left: 25%;
}

.spring {
  width: 22vh;
  margin-bottom: 164vh;
  left: 65%;
}

.sql {
  width: 7vh;
  margin-bottom: 155vh;
  left: 75%;
}

/* ----- CSS Animations --------- */
/* Scroll Down Arrow */
.section {
  position: relative;
  cursor: pointer;
  z-index: 2;
  left: -3%;
}
.section::before {
  animation: bounce 1.5s ease infinite;
  bottom: 164vh;
  color: #fff;
  content: '╲╱';
  font-size: 3vh;
  letter-spacing: -1px;
  line-height: 7vh;
  filter: drop-shadow(0px 5px 6px black);
  position: absolute;
  text-align: center;
  border-radius: 10px;
  padding: 0rem 0.5rem;
  background-color: rgb(0, 0, 0, 0.1);
}
@keyframes bounce {
  50% {
    transform: translateY(-80%);
  }
}

/* Fade on load */
.mountains,
.sun,
.pg,
.rocket,
.html,
.css,
.java,
.javascript,
.typescript,
.node,
.postgresql,
.python,
.git,
.mui,
.jQ,
.redux,
.react,
.saga,
.sql,
.spring {
  animation: fade 5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade + Scale on load */
.username {
  animation: scaleUp 5s;
}
@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ----------- Mobile ------------ */
@media only screen and (max-width: 600px) {
  .username {
    font-size: 7vh;
  }
  .html,
  .javascript,
  .typescript,
  .node,
  .postgresql,
  .git,
  .java,
  .react,
  .redux,
  .sql,
  .spring6 {
    width: 5vh;
  }
  .python,
  .mui {
    width: 6vh;
  }
  .css {
    width: 7vh;
    margin-bottom: 153.5vh;
  }
  .java {
    width: 9vh;
    margin-bottom: 153vh;
  }
  .spring {
    width: 15vh;
    left: 60%;
  }
  .sql {
    left: 76%;
  }
  .mui {
    left: 12%;
  }
  .postgresql {
    margin-bottom: 166.5vh;
  }
  .mountains {
    width: 180vw;
  }
  .sun {
    width: 50%;
  }
  .pg {
    left: 100%;
  }
  .moose {
    margin-bottom: 115vh;
    left: 25%;
  }
  .hs {
    margin-bottom: 18vh;
  }
  .rocket,
  .pg2,
  .airplane,
  .birds,
  .crescent,
  .parrot,
  .bicycle,
  .pg,
  .sunTwo {
    display: none;
  }
}
