  /* Card for displaying each project */
  .tech {
    width: 90%;
    margin: 40vh 2vh 4vh;
    border: solid black 2px;
    border-radius: 20px;
    background-color:whitesmoke;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.4);
    display:table-column;
    z-index: 2;
    opacity: .9;
  }
  
  /* Headings in "Projects" sections */
  .subtitles {
    text-align: center;
    font-size: 3.3vh;
    font-weight:600;
    text-shadow: 0px 1px 1px black;
    font-family: 'BioRhyme';
  }
  
  /* Radio btns */
  .radio {
    margin: 0vh auto;
    font-size: '2vh';
  }
  
  /* Project Images */
  .facts {
    width: 14vh;
    margin: 4vh auto 0vh;
  }

  .quotation {
    width: 13.5vh;
    margin: 4vh auto 0vh;
  }

  .wh {
    width: 12.5vh;
    margin: 4vh auto 0vh;
  }
  
  .oel {
    width: 14vh;
    margin: 4vh auto 0vh;
    font-size: 1.4vh;
  }
  
  .search {
    width: 8vh;
    margin: 2vh auto 0vh;
  }

  .mario {
    width: 11vh;
    margin: 4vh auto 0vh;
  }
    
  .film {
    width: 11vh;
    margin: 4vh auto 0vh;
  }

  .camera {
    width: 13vh;
    margin: 6vh auto 0vh;
  }

  .todo {
    width: 9vh;
    margin: 4vh auto 0vh;
  }