  /* Card for displaying each project */
  .project-container {
    width: 90%;
    margin: 40vh 2vh 4vh;
    display:table-column;
    z-index: 2;
  }
  
  /* Project Images */
  .facts {
    width: 13vh;
  }
  
  .oel {
    width: 13.5vh;
  }

  .wh {
    width: 11.5vh;
  }

  .quotation {
    width: 13.5vh;
  }

  .search {
    width: 13vh;
  }

  .mario {
    width: 10.6vh;
  }
    
  .film {
    width: 11.5vh;
  }

  .camera {
    width: 13.7vh;
  }

  .todo {
    width: 10vh;
  }