/* Background setting for Contact view */
.contactBackground {
    /* background-image:linear-gradient( #f05aac, #e96d60, #ed7b11, #e9ba42); */
    background-image:linear-gradient( #f24ba7, #eb8047, #f24b4b, #ed7b11, #e9ba42);
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* Form settings */
.formBackground {
    font-family: 'BioRhyme';
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
    width: 600px;
    max-width: 95%;
    margin: 26vh auto 32vh;
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 30px;
    box-shadow:  0px 6px 12px rgb(0, 0, 0, 0.7);
    opacity: .9;
    position: absolute;
    display: table-column;
    z-index: 3;
}

/* Form title */
.sayHi {
    color: black;
    font-size: 3.5vh;
    font-weight: 900;
    margin: 0;
    text-shadow: 0px 1px 1px black;
  }

/* Images */
.sun3, .hill, .hill2, .island, .island2, .mtn, .mtn2, .turtle, .shark, .hut, .hut2 {
    position: absolute;
}

.sun3 {
    border-radius:50%;
    height:175px;
    width:175px;
    margin: 0;
    margin-top: 66vh;
    background:orange;
    box-shadow: 0 0 10px rgb(255, 145, 0),
                  0 0 60px orange,
                  0 0 150px yellow,
                  inset 0 0 80px yellow;
    z-index:12;
    align:center;
    z-index:0;
}

.hill {
    height: 30vh;
    width: 48vw;
    background-color: rgb(255, 238, 169);
    border-radius: 0% 80% 0 0;
    margin-top: 71vh;
    z-index: 1;
    left: 0%;
}

.hill2 {
    height: 30vh;
    width: 49vw;
    background-color: rgb(255, 238, 169);
    border-radius: 80% 0% 0% 0;
    margin-top: 71vh;
    z-index: 1;
    left: 51%;
}

.island {
    height: 22vh;
    width: 42vw;
    margin-top: 59.5vh;
    z-index: 2;
    left: -11%;
}

.island2 {
    height: 19vh;
    width: 33vw;
    margin-top: 61vh;
    z-index: 2;
    left: 71%;
}

.mtn {
    height: 75vh;
    width: 44vw;
    left: -27%;
    bottom: 14vh;
    z-index: 0;
}

.mtn2 {
    height: 75vh;
    width: 56vw;
    left: 78%;
    bottom: 14vh;
    z-index: 0;
}

.turtle {
    width: 4%;
    left: 29%;
    bottom: 18vh;
    z-index: 1;
}

.shark {
    width: 20%;
    left: 80%;
    bottom: -2vh;
    z-index: 1;
}

.hut {
    width: 7%;
    left: 70%;
    bottom: 25vh;
    z-index: 2;
}

.hut2 {
  width: 7%;
  left: 22%;
  bottom: 25vh;
  z-index: 2;
}

/* moving wave (animation in contact.jsx) */
.wave {
    fill: rgba(111, 227, 247, 0.99);
    width: 100vw;
    height: 35vh;
    position: fixed;
    bottom: 0;
    z-index: 2;
    opacity: .9;
}
  
.chips {
    margin-top: 85vh;
    z-index: 3;
}

/* Animation */
.formBackground, .chips {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}
  @keyframes fadeIn {
    0% {opacity:0; transform: scale(.8);}
    100% {opacity:1; transform: scale(1);}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0; transform: scale(.8);}
    100% {opacity:1; transform: scale(1);}
  }
  @-webkit-keyframes fadeIn {
    0% {opacity:0; transform: scale(.8);}
    100% {opacity:1; transform: scale(1);}
  }
  @-o-keyframes fadeIn {
    0% {opacity:0; transform: scale(.8);}
    100% {opacity:1; transform: scale(1);}
  }

.mtn, .mtn2, .hut, .island, .island2 {
  animation: fade 5s;
}
  @keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* Mobile view */
@media only screen and (max-width: 600px) {
  .hill, .hill2, .mtn, .mtn2, .island, .island2, .turtle, .hut {
    display: none;
  }
  .contactBackground {
    min-height: 100vh;
  }
  .formBackground {
    margin-top: 20vh;
  }
  .chips {
   overflow-x: scroll;
  }
}
