/* Background setting for Contact view */
.contactBackground {
    background-image:linear-gradient( #f05aac, #e96d60, #ed7b11, #e9ba42);
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Form settings */
.formBackground {
    font-family: 'BioRhyme';
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
    width: 420px;
    max-width: 95%;
    margin: 24vh auto 32vh;
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 30px;
    box-shadow:  0px 10px 15px rgb(0, 0, 0, 0.7);
    opacity: .9;
    position: absolute;
    display: table-column;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* Form title */
.sayHi {
    color: black;
    font-size: 3.5vh;
    font-weight: 900;
    margin: 0;
    text-shadow: 1px 1px 1px black;
  }

/* moving wave (animation in contact.jsx) */
.wave {
    fill: rgba(126, 229, 247, 0.99);
    width: 100vw;
    height: 35vh;
    position: fixed;
    bottom: 0;
    z-index: 2;
  }

.sun3 {
    position: absolute;
    border-radius:50%;
    height:175px;
    width:175px;
    margin: 0;
    margin-top: 68vh;
    left: 43%;
    background:orange;
    box-shadow: 0 0 10px orange,
                  0 0 60px orange,
                  0 0 200px yellow,
                  inset 0 0 80px yellow;
    z-index:12;
    align:center;
    z-index:0;
}

.hill {
    position: absolute;
    height: 200px;
    width: 500px;
    background-color: rgb(243, 177, 91);
    border-radius: 0% 80% 0 0;
    margin-top: 71vh;
    left: 0%;
}

.island {
    position: absolute;
    width: 16%;
    margin-top: 63vh;
    left: 0%;
}

.mtn {
    position: absolute;
    width: 50%;
    left: 55%;
    bottom: 7vh;
}
  
.chips {
    margin-top: 85vh;
    z-index: 3;
}

