.headerBody {
    display: flex;
    justify-content: center;
}

header {
    font-family: 'BioRhyme';
    color: black;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 0 0 30px 30px;
    border: solid black 2px;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.7);
    top: 0;
    z-index: 3;
    align-items: center;
    padding-bottom: 3vh;
    opacity: .9;
  }

  .name {
    font-size: 6vh;
    font-weight:900;
    margin: 2vh;
    margin-top: -1vh;
  }

  .subtitle {
    text-align: center;
    font-size: 3vh;
    font-weight:900;
    margin: -3vh auto 2vh;
  }

  .socials {
    display: flex;
    margin: -2vh 8% -2vh;
  }
  
  .soc {
    margin: 0% auto;
  }
  
  .soc:hover {
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0, 0.5));
  }

  .socMain {
    margin: 0% auto;
  }

  .socMain:hover {
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.5);
  }
  
  .github {
    width: 6%;
  }
  
  .linkedin {
    width: 6%;
  }
  
  .mail {
    width: 6%;
  }

  @media only screen and (max-width: 600px) {
    .name {
      font-size: 5.5vh;
      }
    .subtitle {
      font-size: 2.5vh;
    }
    .socials {
      margin: -1.5vh 1vh;
    }
    }