body {
    margin: 0;
    padding: 0;
  }
  
  /* Background settings for the animated section of the website  */
  .sky {
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient( #80bfd8, #f3b55f, #35722c, #35adf3);
    width: 100%;
    height: 250vh;
    display: flex;
    justify-content: center;
  }
  
  /* Default settings for images in animated section */
  .sky img {
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  
  /* Container for "About Me" section */
  .info {
    box-sizing: border-box;
    width: 75vh;
    max-width: 95%;
    margin: 162vh auto 52vh;
    border: solid black 2px;
    border-radius: 30px;
    background-color:whitesmoke;
    box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.7);
    display:inline-table;
    z-index: 2;
  }
  
  /* Headings in "About Me" section */
  .subtitles {
    text-align: center;
    font-size: 3.5vh;
    font-weight:900;
    margin: 2vh auto 1vh;
    text-shadow: 1px 1px 1px black;
    font-family: 'BioRhyme';
  }
  
  /* Text in "About Me" section */
  .text {
    font-size: 2.5vh;
    margin: 0vh 3vh 0vh;
    min-width: 45%;
    text-align: center;
  }

  /* Head shot image in "About me" section */
  .hs {
    width: 38vh;
    border-radius: 15px;
    margin-bottom: 20vh;
    border: solid black 2px;
    box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.7);
  }

  @media only screen and (max-width: 600px) {
    .info {
      margin-bottom: 42vh;
    }
    .hs {
        margin-bottom: 10vh;
      }
  }
  
  /****************** Individual settings for each image in animated section *******************/
  .mountains {
    height: 39%;
    /* height: 87vh;  */
    filter:drop-shadow(3px -4px 6px black);
    margin-bottom: 112vh;
    border-bottom: rgb(0, 128, 0, .3) solid 15px ;
    /* margin-bottom: 68%; */
  }

  .username {
      margin: 32vh auto 4vh;
      font-size: 10vh;
      background: linear-gradient(to right, #0c82dc, #df7e00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'BioRhyme';
      position: absolute;
  }
  
  .sun {
    width: 30%;
    margin-bottom: 132vh;
    left: 28%;
  } 
  
  .sunTwo {
    width: 20%;
    margin-bottom: 0vh;
    left: 85%;
    z-index:  1;
  }
  
  .cloudOne {
    width: 20%;
    margin-bottom: 175vh;
    /* 100% */
    left: 75%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudTwo {
    width: 25%;
    margin-bottom: 215vh;
    left: 75%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudThree {
    width: 10%;
    margin-bottom: 175vh;
    left: 0%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudFour {
    width: 24%;
    margin-bottom: 210vh;
    left: 6%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudFive {
    width: 23%;
    margin-bottom: 180vh;
    left: 45%;
    opacity: 60%;
    z-index: 1;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudSix {
    width: 15%;
    margin-bottom: 220vh;
    left: 2%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudSeven {
    width: 12%;
    margin-bottom: 10vh;
    left: -25%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudEight {
    width: 9%;
    margin-bottom: 10vh;
    left: 40%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .cloudNine {
    width: 8%;
    margin-bottom: 30vh;
    left: -20%;
    opacity: 60%;
    filter:drop-shadow(2px 2px 3px black);
  }
  
  .moon {
    width: 5%;
    margin-bottom: 240vh;
    left: 0%;
    opacity: 80%;
  }
  
  .stars {
    width: 14%;
    margin-bottom: 230vh;
    left: -4%;
  }
  
  .starsTwo {
    width: 15%;
    margin-bottom: 230vh;
    left: 90%;
  }
  
  /* Animal, Vehicle images */
  .birds {
    width: 28vh;
    margin-bottom: 75%;
    left: -20%;
  }
  
  .moose {
    width: 9vh;
    margin-bottom: 120vh;
    left: 15%;
    filter:drop-shadow(1px 1px 2px black);
  }
  
  .bicycle {
    width: 6vh;
    margin-bottom: 135vh;
    left: -40%;
  }
  
  .rocket {
    width: 6vh;
    margin-bottom: 95%;
    left: 85%;
    filter:drop-shadow(1px 1px 2px black);
  }
  
  .pg {
    width: 3vh;
    margin-bottom: 200vh;
    left: 76%;
    filter:drop-shadow(1px 1px 2px black);
  }
  
  .airplane {
    width: 7vh;
    margin-bottom: 30%;
    left: -140%;
    filter:drop-shadow(1px 1px 2px black);
  }
  
  .airBalloon {
    width: 5vh;
    margin-bottom: 0%;
    left: 10%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .parrot {
    width: 5vh;
    margin-bottom: 0%;
    left: -20%;
    z-index: 1;
    filter:drop-shadow(1px 1px 2px black);
  }
  
  /* Tech Logos */
  .html {
    width: 8vh;
    margin-bottom: 158vh;
    /* 90% */
    left: 10%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .css {
    width: 12vh;
    margin-bottom: 156vh;
    left: 19%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .javascript {
    width: 8vh;
    margin-bottom: 158vh;
    left: 31%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .react {
    width: 8vh;
    margin-bottom: 158vh;
    left: 42%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .node {
    width: 8vh;
    margin-bottom: 158vh;
    left: 53%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .postgresql {
    width: 8vh;
    margin-bottom: 158vh;
    left: 64%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .python {
    width: 8vh;
    margin-bottom: 158vh;
    left: 75%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  .git {
    width: 8vh;
    margin-bottom: 158vh;
    left: 86%;
    filter:drop-shadow(3px 3px 5px black);
  }
  
  /* Scroll Down Arrow */
  .section {
    position: relative;
    z-index: 2;
    left: 35%;
  }
  .section::before {
    animation: bounce 1s ease infinite;
    bottom: 162vh;
    color: #fff;
    content: '╲╱';
    font-size: 4.5vh;
    font-weight:950;
    height: 4rem;
    letter-spacing: -1px;
    line-height: 4rem;
    filter:drop-shadow(5px 5px 6px black);
    position: absolute;
    text-align: center;
    width: 6rem;
  }
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }
  
  