  /* Background Setting for "Projects" section. No animation */
  .portfolioBackground {
    height: 110vh;
    background-image: linear-gradient(#35adf3,#f8f8f8);
    position: relative;
    display: flex;
  }

  /* Background Image at bottom of site. No animation. */
  .beach{
    position: absolute;
    width: 100%;
    height: 110vh;
    filter:drop-shadow(3px 3px 5px black);
    z-index: 0;
  }

  .titleDiv {
    position: absolute;
    left: 40%;
    margin-top: 31vh;
    border: solid black 2px;
    border-radius: 20px;
    background-color:whitesmoke;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.7);
    z-index: 3;
  }

  .title {
    font-family: 'BioRhyme';
    font-weight:900;
    font-size: 4vh;
    text-shadow: 0px 1px 1px black;
    margin: 1.5vh 8vh;
  }

  /* Horizontal scroll properties */
  .wrapper {
    display: grid;
    grid-gap: 10vh;
    grid-template-columns: 
        3vh
        repeat(7, calc(45vh))
        15vh;
    grid-template-rows: minmax(150px, 1fr);
    margin-bottom: 0;
  }

  .wrapper::before,
  .wrapper::after {
      content: '';
  }

.arrow {
    position: absolute;
    width: 3vh;
    margin-top: 70vh;
    z-index: 3;
}