  /* Background Setting for "Projects" section. No animation */
  .portfolioBackground {
    height: 110vh;
    background-image: linear-gradient(#35adf3,#f8f8f8);
    overflow-x: hidden;
    position: relative;
    display: flex;
  }

  /* Background Image at bottom of site. No animation. */
  .beach{
    position: absolute;
    width: 100%;
    height: 110vh;
    filter:drop-shadow(3px 3px 5px black);
    z-index: 0;
  }

  .titleDiv {
    position: absolute;
    left: 34.5vw;
    width: 385px;
    max-width: 80%;
    height: 10vh;
    margin-top: 30vh;
    margin: 30vh auto 0vh;
    border: solid black 2px;
    border-radius: 20px;
    background-color:whitesmoke;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.7);
    z-index: 3;
  }

  .title {
    font-family: 'BioRhyme';
    font-weight:900;
    font-size: 4.5vh;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    margin: 1.5vh;
  }

  /* Horizontal scroll properties */
  .wrapper {
    display: grid;
    grid-gap: 10vh;
    grid-template-columns: 
        5vh
        repeat(7, calc(45vh))
        5vh;
    grid-template-rows: minmax(150px, 1fr);
    margin-bottom: 0;
  }
  .wrapper::before,
  .wrapper::after {
      content: '';
  }

.arrow {
    position: absolute;
    border: none;
    margin-top: 67vh;
    z-index: 3;
    color: rgb(255, 255, 255, .7);
    cursor: pointer;
    border-radius: 10px;
    padding: .5rem .5rem;
    background-color: rgb(0, 0, 0, 0.25);
}
.arrow:hover {
  color: rgb(250, 234, 234);
  background-color: rgb(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .titleDiv {
    left: 10%;
    margin-top: 30vh;
  }
  .beach {
    width: 120vw;
    left: -5%;
  }
}