/* Background Setting for "Projects" section. No animation */
.projects {
    height: 110vh;
    background-image: linear-gradient(#35adf3,#f8f8f8);
    position: relative;
    display: flex;
  }

  /* Background Image at bottom of site. No animation. */
  .beach{
    position: absolute;
    width: 100%;
    height: 110vh;
    filter:drop-shadow(3px 3px 5px black);
    z-index: 0;
  }

  .wrapper {
    display: grid;
    grid-gap: 10vh;
    grid-template-columns: 
        3vh
        repeat(7, calc(45vh ))
        15vh;
    grid-template-rows: minmax(150px, 1fr);
    margin-bottom: 0;
  }

  .wrapper::before,
  .wrapper::after {
      content: '';
  }

.arrow {
    position: absolute;
    width: 3vh;
    margin-top: 68vh;
    z-index: 3;
}